/* ==========================================================================
    GENERAL STYLES
========================================================================== */
body {
  font-family: 'Open Sans', sans-serif;
  color: #646262;
  margin-top: -20px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2 {
  color: #fff;
}

h1, h2, h3 {
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

/* ==========================================================================
    HEADER
========================================================================== */
.header {
  height: 65px;
  padding: 20px 0;
}

.logo {
  padding: 0 !important;
  margin-right: 25px;
}

.header a {
  font-size: 15px;
  padding: 0 25px;
}

.header a:hover, .categories a:hover {
  text-decoration: underline;
}

.btn-xl, .btn-sm {
  text-align: center;
  background: #2e688f;
  border-radius: 2.5px;
  color: #fff;
  display: inline-block;
  line-height: 2em;
  padding: 0 5px !important;
}

.btn-sm {
  margin-left: 22px;
  -moz-margin-start: 28px;
}

.btn-sm:hover {
  text-decoration: none !important;
}

.social {
  position: absolute;
  top: 25px;
  right: 0;
}

.social a {
  padding: 0 !important;
}

h1 {
  width: 160px;
  background: #000;
  display: inline-block;
  font-weight: 400;
  font-size: 50px;
  margin: 0;
  margin-top: 8px;
}

.fa {
  line-height: 25px !important;
  width: 25px;
  text-align: center;
  color: #fff;
}

.fa-facebook {
  background: #3B5998;
}

.fa-twitter {
  background: #00aced;
}

.fa-linkedin {
  background: #375c92;
}

.fa-youtube {
  background: #ff3121;
}

.fa-tumblr {
  background: #304e6c;
}

/* ===================================================================================================
    BANNER AREA
==================================================================================================== */
input[type="text"] {
  padding: 20px 10px 20px 30px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
}

input[name="job"] {
  margin-right: 50px;
  width: 250px;
}

input[name="place"] {
  padding-left: 40px;
}

.input-wrapper {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.container-fluid .container {
  padding: 30px 0 160px;
}

.btn-xl {
  font-size: 20px;
}

h2 {
  font-size: 35px;
  font-weight: 400;
  margin: 0 0 50px 0;
  padding: 0 50px;
}

.filter-jobs {
  padding: 0 50px;
  text-align: center;
}

.fa-map-marker {
  position: absolute;
  top: 17px;
  left: 5px;
  color: inherit;
}

/* ===================================================================================================
    MAIN CONTENT AREA
==================================================================================================== */
.items-container {
  margin: -20px 15px 0 15px;
  background: #fff;
  border-bottom: 3px solid #e7e7e7;
  padding-top: 50px;
  padding-bottom: 40px;
}

.items {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.middle {
  width: 38%;
  border-left: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
}

.number-items {
  font-size: 40px;
  font-weight: 700;
}

.which-items {
  font-size: 14px;
}

.center-content {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.btn-xl {
  padding: 10px 20px 12px 20px !important;
  border-radius: 5px;
}

.center-content .btn-xl {
  font-size: 24px;
}

.lt-ie9 .btn-sm {
  margin-left: 28px;
}

.categories {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.categories a {
  padding: 0 5px 0 0;
  font-size: 18px;
}

/* ===================================================================================================
    RESPONSIVE / MEDIA QUERIES 
==================================================================================================== */
@media only screen and (max-width: 1016px) {
  .container {
    width: auto;
  }
}
@media only screen and (max-width: 961px) {
  .header {
    height: auto;
  }

  .header a {
    padding: 0 10px;
  }

  .btn-sm {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 868px) {
  h2, .filter-jobs {
    padding: 0 10px;
  }

  input[type="text"], .filter-jobs .btn-xl {
    display: block;
    margin: 15px auto;
  }

  .fa-map-marker {
    top: 33px;
  }

  .filter-jobs .btn-xl {
    width: 90px;
  }

  input[name="place"] {
    width: 210px;
  }
}
@media only screen and (max-width: 768px) {
  a.logo {
    display: block;
    width: 160px;
    margin: 0 auto;
  }

  .header a {
    display: block;
    text-align: center;
  }

  .social a {
    display: inline-block;
  }

  .btn-sm {
    width: 90px;
    margin: 15px auto 0 auto;
  }

  .social {
    position: relative;
    top: 10px;
    text-align: center;
  }

  h1 {
    margin-bottom: 15px;
  }
}
@media only screen and (max-width: 578px) {
  .items, .middle {
    display: block;
    width: auto;
  }

  .middle {
    margin: 25px 0;
    border: none;
  }
}
@media only screen and (max-width: 406px) {
  input[name="job"] {
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }

  .input-wrapper {
    margin-right: 0;
  }
}
